{% extends 'base.html.twig' %}

{% block title %}Nos recettes
{% endblock %}
{% block body %}
	<div class="text-center">
		<br><br><br>
		<h1>Bienvenue sur la homepage de NosRecettes!</h1>
		<br><br>
		<h4>
			Ici vous pourrez créer, modifier et supprimer vos recettes en y créant / ajoutant / supprimant les differents
																								        ingrédients
		</h4>
	</div>


{% endblock %}
