{% extends 'base.html.twig' %}

{% block title %}Nos recettes{% endblock %}
{% block body %}
<div class="text-center">
    <h1>Hello!</h1>
    <P>
        Bienvenue sur la homepage de NosRecettes
    </P>
    <p>
        Ici vous pourrez créer, modifier, supprimer et vos recettes en y ajoutant / supprimant les differents
        ingrédients
    </p>
</div>


{% endblock %}